// ? Colors
$text: #111827;
$muted: #6b7280;
$border: #e5e7eb;
$accent: #405de6;
$accent-2: #764ba2; // gradient pair

// ? Alerts
$success-bg: #ecfdf5;
$success: #166534;

$danger: #e0245e;
$error-bg: #fef2f2;
$error-text: #991b1b;

// ? Surfaces
$gray-100: #fafafa;
$gray-200: #f3f4f8;
$gray-300: #e5e7eb;
$gray-400: #d1d5db;

$blue-100: #eef1ff;
$blue-200: #f8f9ff;
$blue-300: #f1f3f9;

// ? Shadows
$shadow-soft: 0 30px 80px rgba(0, 0, 0, 0.08);
$shadow-btn: 0 10px 25px rgba(64, 93, 230, 0.25);

// ? radius
$radius: 10px;

// ? Transitions
$transition: all 0.2s ease;