// ? Colors
$bg: #070707;
$text: #fafafa;
$muted: #e5e7eb;
$accent: #103D2E;
$accent-2: #072A27;
$bg-tint: #191919;

$gap: 1rem;
$gap-sm: 0.5rem;
$radius: 10px;

$card-border: 1px solid $bg-tint;
$hover: rgba(255, 255, 255, 0.05);
$shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
$container-width: 87rem;